/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
      rgba(46, 78, 182, 0.799), 
      rgba(90, 128, 252, 0.83)
    ),
    url('/img/fondo-principal.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.hero__title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero__subtitle {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}